@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: rgba(65, 105, 225,1);
    backdrop-filter: blur(2px);
    color: white;
    height: 70px;
    width: 100%;
    text-align: center;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 50;
    box-shadow: 0 0 70px rgba(0, 0, 0, 0.5);
}
header .logo{
    font-size: 30px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    letter-spacing: 5px;
}

.home{
    height: 100vh;
    /* width: 100%; */
    background-image: url('bg.jpg');
    background-position: right;
    background-size: 700px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.home .container{
    margin-left: 50px;
}

.container h1{
    font-size: 34px;
}
.home .container .home_content{
    font-size: 20px;
    text-align: left;
    width: 45%;
}
.home button{
    width: 300px;
    padding: 10px 20px;
    margin-top: 70px;
    font-size: 21px;
    background-color: rgba(65, 105, 225,1);
    color: #fff;
    border-radius: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    transform: scale(1);
}

.home button:hover{
    transform: scale(1.02);
}



@media (max-width:767px){
    .home{
        background-size: 400px;
        background-position: top;
        align-items:end;
    }
    .home .container{
        margin-left: 20px;
    }
    .container h1{
        font-size: 26px;
    }
    .home .container .home_content{
        font-size: 17px;
        text-align: left;
        width: 97%;
    }  
    .home button{
        width: 80%;
        margin: 20px 18px;
        font-size: 17px;
    } 
}